* {margin:0;padding:0;}
.height100percent {height:100%}
.hidden {visibility:collapse;display:none;}
.expose {visibility:visible;display:block;} /* Here for completeness only. */
.spacer {clear:both;}

/* The image we capture */
#theImage {margin:0;padding:0;}
#test {background-color:#ddffdd;}